<link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
<nav class="navbar">
    <a href="/">
        <div class="logo">
            <img src="../../static/img/escudo.png" alt="Logo de la Escuela Metropolitana">
        </div>
    </a>
    
    <div class="nav-links">
        <a href="{{ url_for('instrucciones') }}">Instrucciónes</a>
        <a href="#contexto">Contexto</a>
        <button onclick="location.href='/login'">Iniciar Sesión</button>
        <button onclick="window.open('https://drive.google.com/drive/folders/1_KaG49wXNkGXqzzUBkdRa_20Y1rzBaaG?usp=drive_link', '_blank')">Metro-Market</button>
    </div>
</nav>