<link rel="stylesheet" href="{{url_for('static', filename='css/hero.css')}}">

<body>
    <div  class="hero">
        <div class="text-hero">
            <h1>Escuela Metropolitana</h1>
            <h3>Fundada en 1934, esta institución se encuentra entre las 100 mejores primarias de la Ciudad de México. Además, ha obtenido el primer lugar de la zona en la Olimpiada de Conocimiento Infantil, destacando su excelencia académica y compromiso con la educación.</h3>
        </div>
        <img class="estudiante-hero" src="../../static/img/hero-girl.png" alt="estudiante">
    </div>
    
    <div id="contexto" class="contexto">
        <img class="estudiante-contexto" src="../../static/img/contexto-estudiante.png" alt="estudiante2">
        <div class="text-contexto">
            <h1>Contexto</h1>
            <h2>Se creó el videojuego MetroMarket dirigido a estudiantes de 5° grado, con el objetivo de abordar los temas curriculares de diversos niveles educativos. MetroMarket presenta distintos niveles de dificultad, los cuales están alineados con los contenidos de cada grado escolar establecidos por la Secretaría de Educación Pública (SEP).</h2>
        </div>
    </div>

    <div class="Niveles">
    <h1>Niveles de MetroMarket</h1>
        <div class="Nivel1">
            <h2>Nivel 1 : Comprador</h2>
            <h4>El alumno desarrollara sus habilidades para identificar figuras geométricas.</h4>
            <img src="../../static/img/nivel1.png" alt="nivel 1">
        </div>

        <div class="Nivel2">
            <h2>Nivel 2 : Vendedor</h2>
            <h4>Desarrollará habilidades en operaciones matemáticas básicas: suma, resta, multiplicación y división.</h4>
            <img src="../../static/img/nivel2.png" alt="nivel 1">
        </div>

        <div class="Nivel3">
            <h2>Nivel 3: Empacador</h2>
            <h4>Se afinarán las habilidades de cálculo, incluyendo la determinación de áreas, perímetros y volúmenes.</h4>
            <img src="../../static/img/nivel3.png" alt="nivel 1">
        </div>
    </div>
</body>
